<html>
  <body>
    <footer class="page-footer">
    <div class="container">
    <div class="row">

      <div class="center">
        <h5>Menu</h5>
          <ul id="footed">
              <li><a href="/home" class="grey-text text-lighten-3" id="foot"><u>Home</u></a></li>
              <li><a href="/services" class="grey-text text-lighten-3"><u>services</u></a></li>
              <li><a href="/clients" class="grey-text text-lighten-3"><u>Clients</u></a></li>
              <li><a href="/home/#contact" class="grey-text text-lighten-3"><u>Contact Us</u></a></li>
              <li><a href="/<%=log%>" class="grey-text text-lighten-3"><u><%=log%></u></a></li>
          </ul>
      </div>
      
    </div>
    </div>
    <div class="footer-copyright grey-text text darken-4">
    <div class="container center-align">&copy;2020 my shop</div>
    </div>
  </footer>
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.materialboxed').materialbox();
    $('.scrollspy').scrollSpy();
    });
  </script>
  </body>
</html>