<html>
    <%- include("./partials/header.ejs") %>
    <body>
        <section class="container section scrollspy" id="services">
            <div class="row" >
              <div class="col s12 l12">
                <h2 class="indigo-text text-darken-4" >About</h2>
                <p> &emsp;&emsp;&emsp;We Would like to Introduce our Organisation “ACME CLEANROOM SERVICES”, that has been in Validation & Calibration Business for the past 15 Years, “ACME CLEANROOM SERVICES” was established in 2004 by Mr. Ivan Fernandes, with a vision to provide quality services with experience and exposure in complete Validation & Calibration requirements of Pharmaceutical, Semiconductor & Hospital industry.<br><br> 
                 <ul>
                   <li>✔	With our state of art equipment’s and procedure and documentation in compliance with the international standards, we can Professionally Organize & Carry out <b> Cleanroom validation, Thermal Validation, Compressed Air /Nitrogen Test, Pure Steam Quality Test & Water/ Hydronic Balancing </b><br></li>
                   <li>✔	We also provides <b> Calibration of Pressure, Thermal Instruments &Thermal Validation </b> of Instruments (Equipments as well as Areas & Warehouses, etc.)<br></li>
                   <li>✔	Our <b>Test Reports/Certificate/Documentation</b> formats are designed to the best to meet all the International standards requirements.<br></li>
                   <li>✔	We have been successfully Completed Clean Room Validation, meeting National / International Standards and our service Personnel are Trained and Technically Qualified.<br><br></li>
                 </ul>
                  <b> &emsp;&emsp;&emsp;ACME CLEANROOM SERVICES</b> is in Navelim Salcette – Goa is our Head Office and to have close Co-Ordination with our customers. We have Service Representatives in Hyderabad, Bangalore & Pune.<br>
                </p>
              </div>
            </div>
          </section>
          
          <section class="container section scrollspy" id="services">
            <div class="row"  id="service">
              <div class="col s12 l12">
              <h2 class="certificate indigo-text text-darken-4 center">Certificates</h2>
              </div>
            <div class="row">
              <div class="documents col l6">
                <embed src="/GSTR certificate.pdf"  alt="" width="300px"  height="300px"  class="responsive-img materialboxed">
              </div>
              <div class="documents col l6">
                <embed src="/MSME (1).pdf"  width="300px"  height="300px"  alt="" class="responsive-img materialboxed">
              </div>
              <div class="documents col l6">
                <embed src="/ISO-8573-1_contaminants & purity classes.PDF"  width="300px"  height="300px"  alt="" class="responsive-img materialboxed">
              </div>
              <div class="documents col l6">
                <embed src="/ISO-8573-2_test method for aerosol oil.PDF"  width="300px"  height="300px"  alt="" class="responsive-img materialboxed">
              </div>
              <div class="documents col l6">
                <embed src="/ISO-8573-3_test method for humidity.PDF"  width="300px"  height="300px"  alt="" class="responsive-img materialboxed">
              </div>
              <div class="documents col l6">
                <embed src="/ISO-8573-7_test method for viable microbial.PDF"  width="300px"  height="300px"  alt="" class="responsive-img materialboxed">
              </div>
              <div class="documents col l6" >
                <embed src="/ISO-8573-8_test mthod for mass conc particles.PDF"  width="300px"  height="300px"  alt="" class="responsive-img materialboxed">
              </div>
              <div class="documents col l6">
                <embed src="/ISO-8573-4_test method for particles.PDF"  width="300px"  height="300px"  alt="" class="responsive-img materialboxed">
              </div>
            </div>
          </section>

          <section class="container section scrollspy" id="services">
            <div class="row"  id="service">
              <div class="col s12 l12">
              <h2 class="indigo-text text-darken-4">Quality Policy</h2>
              <p> <b>&emsp;&emsp;The continuing Policy</b> of Acme Clean room services is to provide a high quality, professional and efficient service to ensure the enhanced satisfaction of all of the requirements of our clients. This achievement will result in securing efficiency, a strong customer focus and enhancement of long-term sustainability and profitability within the Organization. <br><br>

                <b>The Management Team</b> will show leadership, commitment and bear the responsibility for establishing, implementing, integrating and maintaining the Quality Management System.<br> 
                
                <b>To achieve this,</b> we undertake to ensure sufficient resources are made available within the Organisation, through communication, engagement, practical example and training, that Quality is the aim of all members of the Organisation.<br><br>
               <b> Through direction and support,</b> each employee will have a proper understanding of the importance of the Quality System function, their responsibility to contribute to its effectiveness, and its direct relevance to the success of the Organisation.<br><br>
                
                <b>Equally,</b> every employee is responsible for, and will be trained to perform the duties required by his or her specific role.<br>
                
                <b>The Organization</b> has a Policy of promoting continual improvement and setting of Quality Objectives in line with the framework laid down within ISO 9001:2015 Standard. These objectives will address the risks and opportunities within the Organization as determined by Top Management.<br><br>
                
                <b>The Quality System</b> will be monitored, measured, evaluated and enhanced regularly under the top Management’s ultimate responsibility, with regular reporting and communication of the status and effectiveness at all levels.<br><br>
                                                                                                                
                
                
                <b>AC-MGM-QP-001, Rev. No. 01</b> <br>                                                                                     
                                                                                                                             
                <b>Rev. Date: 01- 04- 19</b> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>Proprietor</b><br>                                                      	                                                                                                                 
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<b>(Ivan Fernandes)</b>
                 </p>
              </div>
            </div>
          </section>
           
          
          <section class="container section scrollspy" id="services" >
            <div class="row" >
              <div class="col s12 l12">
                <h2 class="indigo-text text-darken-4" id="contact" >Contact Us</h2>
                <p class="addresss"><b>ACME CLEANROOM SERVICES,<br>
                   #shop no,AG-18(GF-19)<br> 
                   Rosary Commercial Arcade, Navelim, Salcette,<br>
                  Goa – 403 707.<br>
                  Land Line: +91832 2766276.<br>
                  Mob: +91 9822134873 / +91 9405831273.<br>
                 Email: <a href="ivanvn27@gmail.com">ivanvn27@gmail.com</a></b>
                  </p>
              </div>
            </div>
          </section>
        
        <%- include("./partials/footer.ejs") %>
    </body>
</html>