<html>
    <%- include("./partials/header.ejs") %>
    <body>
        <h2 class="indigo-text text-darken-4" >Nitrogen Validation</h2>
     <embed src="/edit detector tube.pdf" width="100%" height="500px">

        <section class="container section scrollspy" id="services">
            <div class="row" >
              <div class="col s12 l12">
                <h2 class="indigo-text text-darken-3" >For, HVAC Clean Room/Clean Equipment VALIDATION:</h2>
          <p>All Standard Air Validation Reports Confirm to the requirements of  ISO -14644-1/2/3,EC-Guidelines & Schedule –M.
            However if the client desires, the formats are modified to meet the specified requirements. All raw data is recorded on printed forms in duplicate and stored securely.
            </p>
        </div>
      </div>
    </section> 
       <!-- footer   -->
       <%- include("./partials/footer.ejs") %>
    </body>
</html>