<html>
    <%- include("./partials/header.ejs") %>
    <body>
      <!-- <section class="container section scrollspy" id="services"> -->
        <div class="row" >
          <div class="col s12 l12">
            <h3 class="standard indigo-text text-darken-3" >Standard Operating Procedure</h3>
      <p>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;SOPs have been incorporated for all calibration/validations. These have been formulated after a study of relevant.
        National/International <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;standards and requirements of GMP and Schedule M of the Drugs and Cosmetic act and other regulatory requirements.
        </p>
    </div>
    </div>
    <!-- </section>  -->
       <!-- service cards -->
       <h3 class="indigo-text text-darken-3" >&emsp;&emsp;Our Services</h3>
  <section class=" section scrollspy" id="flippy">
    <div class="  row" >
      <div class="col s12 l3 ">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card ">
                <div class="card-image">
                  <img src="/haunted.jpg" height="50%" >
                  <span class="card-title">Air Validation</span>
                </div>
                <div class="card-content white ">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back white black-text">
              <h5>Air validation</h5> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolorum. Recusandae
                 eum magni dolore aliquam assumenda fugit culpa ipsum, eaque ab ducimus quaerat excepturi
                  tenetur veniam porro, esse harum cum?</p> 
              <div class="card-action">
                <a href="/services/AirValidation" class="btn" id="bot">know more</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l3 ">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card ">
                <div class="card-image">
                  <img src="/haunted.jpg" height="50%">
                  <span class="card-title">Nitrogen Validation</span>
                </div>
                <div class="card-content white ">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back white black-text">
              <h5>Nitrogen Validation</h5> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolorum. Recusandae
                 eum magni dolore aliquam assumenda fugit culpa ipsum, eaque ab ducimus quaerat excepturi
                  tenetur veniam porro, esse harum cum?</p> 
              <div class="card-action">
                <a href="/services/NitrogenValidation" class="btn" id="bot">know more</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l3 ">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card ">
                <div class="card-image">
                  <img src="/haunted.jpg" height="50%" >
                  <span class="card-title">Thermal Validation</span>
                </div>
                <div class="card-content white ">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back white black-text">
              <h5>Thermal Validation</h5> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolorum. Recusandae
                 eum magni dolore aliquam assumenda fugit culpa ipsum, eaque ab ducimus quaerat excepturi
                  tenetur veniam porro, esse harum cum?</p> 
              <div class="card-action">
                <a href="/services/ThermalValidation" class="btn" id="bot">know more</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 l3 ">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <div class="card ">
                <div class="card-image">
                  <img src="/WhatsApp Image 2021-04-16 at 11.13.52 AM (1).jpeg" height="50%" >
                  <span class="card-title">Caliberation</span>
                </div>
                <div class="card-content white ">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
            <div class="flip-card-back white black-text">
              <h5>Caliberation</h5> 
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, dolorum. Recusandae
                 eum magni dolore aliquam assumenda fugit culpa ipsum, eaque ab ducimus quaerat excepturi
                  tenetur veniam porro, esse harum cum?</p> 
              <div class="card-action">
                <a href="/services/Caliberation" class="btn" id="bot">know more</a>
                </div>
            </div>
          </div>
        </div>
      </div>
      

    </div>
    
  </section>


 
         <!-- footer   -->
       <%- include("./partials/footer.ejs") %>
    </body>
</html>
